<library path="src">
  <class name="PluginR3Monitoring" type="r3_monitoring_rqt.r3_monitoring_plugin.R3MonitoringPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>R3 Monitoring (Client) RQT Plugin</description>
    <qtgui>
      <label>R3 Monitoring</label>
      <statustip>R3 Monitoring (Client) RQT Plugin</statustip>
      <icon type="theme">gnome-monitor</icon>
      <group>
        <label>Visualization</label>
      </group>
    </qtgui>
  </class>
</library>
